# Project specific
.idea
typings/
node_modules/
bower_components/
test/unit/dist
dist/
.npmrc
.bowerrc
*.iml
*.old.*
package.zip

# VS Code
.settings

# OSX stuff
.DS_Store
.VolumeIcon.icns
.fseventsd
Icon
.apdisk

# SASS Cache Directory
.sass-cache

# everything else, hat tip - https://raw.githubusercontent.com/github/gitignore/master/Node.gitignore

# Logs
logs
*.log
wget-log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

#vim swap files
*.swp
*.swo
*.bak
